@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   <<h1>Hi, This is First demo project of .NET 8</h1>
    <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
</div>
